$diameter: 400px;
$border-width: 2px;
$margin: 50px;
$numbers-color: black;

@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}
@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}
@function pi() {
  @return 3.14159265359;
}
@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}
@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}
@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

.reloj{
  background-color: lightblue;
  background-size: 100% 100%;
  border-radius: 100%;
  border: solid black $border-width;
  height: $diameter;
  width: $diameter;
}

.number{
  color: $numbers-color;
  font-size: 16px;
  font-weight: bold;
  height: 10px;
  line-height: 10px;
  position: absolute;
  text-align:center;
}
.agujas{
  background-color: transparent;
  background-size: 100% 100%;
  border-radius: 100%;
  border: solid black $border-width;
  height: $diameter;
  margin: $margin;
  width: $diameter;
  z-index: 1;
}

@for $i from 1 through (12){
  .hora-#{$i}{
    top: ($diameter/2 - $margin/4)*sin(0.1666667*pi()*($i - 3)) + $diameter/2 + 75px;
    left: ($diameter/2 - $margin/4)*cos(0.1666667*pi()*($i - 3)) + $diameter/2 ;
  }
}

.hour, .minute, .second{
  left: $diameter/2;
  position: absolute;
  top: $diameter/2;
}
.hour{
  background: black;
  height: $diameter*0.20;
  width: $diameter*0.0001;
}
.minute{
  background-color: black;
  height: $diameter/10;
  width: $diameter*0.00001;
}
.second{
  background-color: black;
  height: $diameter*0.60;
  width: $diameter*0.000001;  
}

.digitalClock{
  display: inline;
  font-size: 100px;
  font-weight: bold;
  width: 100px;
}